<div class="modal-header">
	<h3 class="modal-title">New room</h3>
</div>

<div class="modal-body">
	<label>Add or Join Room</label>
	<!-- Need . to force AngularJS to look up the prototype chain  -->
	<!-- Was getting undefined value before because was looking at parent scope
	and not this child scope of the modal service -->
	<input type="text" ng-model="data.roomName" required/>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>